/*********************************************

Here is a description of any special CSS used.
By default that's nothing.

**********************************************/

canvas {
    display : block;   
    margin : auto;
}

body { 
    background-color: #1e6d05; 
}